@font-face 
    font-family: 'Montserratt'
    src: url(../fonts/Montserratt.ttf)

body
    padding: 0
    margin: 0
    font-family: 'Montserratt' 
    font-style: normal
    font-weight: 500
    color: #333333
p
    margin: 0
h2
    margin: 0
a
    text-decoration: none
    font-size: 14px
    &:active
        color: #333333
    &:visited
        color: #333333
ul
    list-style-type: none
    padding: 0
    margin: 0

.main
    display: flex
    flex-direction: column
    align-items: center
    .header
        display: flex
        width: 100%
        height: 115px
        position: fixed
        z-index: 10
        background-color: #fff
        border-bottom: 1px solid #D9D9D9
        .header-container
            display: flex
            align-items: center
            height: 100%
            padding: 0 65px
            .header__logo
                margin-right: 15px
            .menu_body
                height: 100%
                .menu__list
                    height: 100%
                    display: flex
                    .menu__item
                        display: flex
                        position: relative
                        align-items: center
                        height: 100%
                        margin: 0 5px 0 10px
                        .menu__link
                            padding: 20px 10px 20px 5px
                            transition: all 0.2s
                            &::after
                                content: url("../img/Vector.svg")
                                padding-left: 10px
                                transform: rotate(45)
                        .sub__body
                            display: none
                            opacity: 0
                            position: absolute
                            top: 100%
                            width: 172px
                            padding: 0 24px
                            background: #FFFFFF
                            box-shadow: -2px 4px 6px rgba(0, 0, 0, 0.25)
                            border-top: 1px solid #D9D9D9
                            pointer-events: none
                            .sub__item
                                border-bottom: 1px solid #D9D9D9
                                padding: 8px 0
                                &:last-child
                                    border: none
                                    margin-bottom: 16px
                                .sub__link
                                    font-size: 16px
                                    padding: 8px 0
                                    transition: all 0.2s 
                                    &:hover
                                        color: #014E38
                        &:hover .sub__body
                            display: block
                            opacity: 1
                            pointer-events: all
                        &:hover .menu__link
                            color: #014E38

    .content
        max-width: 1230px
        width: 100%
        margin-top: 115px
        .first-block
            display: flex
            flex-direction: column
            width: 100%
            margin-top: 52px
            .first-block__text
                display: flex
                width: 100%
                .first-block__left, .first-block__right
                    width: 50%
                    border-right: 1px solid #D9D9D9
                    h2
                        font-size: 40px
                        line-height: 52px
                        color: #014E38
                        margin-left: 24px
                    p
                        font-size: 20px
                        line-height: 26px
                        color: #014E38
                        padding: 0 24px
                .first-block__left
                    border-left: 1px solid #D9D9D9
                .first-block__right
                    display: flex
                    align-items: center
                    justify-content: center
            .first-block__img
                margin-top: 32px
                img
                    width: 100%
        .news
            margin-top: 80px
            width: 100%
            .news__header
                padding-bottom: 16px
                margin: 80px
                border-bottom: 1px solid #D9D9D9
                font-size: 32px
                color: #014E38

    .footer
        width: 100%
        height: 332px
        background: #014E38